@font-face {
    font-family: Macondo;
    src: url(/Macondo-Regular.ttf);
  }
  
  div {
    font-family: Macondo;
  }
img {
    height: 120px;
}
.book {
    display: flex;
    gap: 40px;
    align-items: center;
}
.like_button {
    height: 50px;
    filter: grayscale(100%);
}
.liked {
    filter: grayscale(0%);
}
.likes {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.book_details {
    display: flex;
    flex-direction: column;
}
.space_between {
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
    align-items: center;
    padding-bottom: 80px;
}
.thumbnail {
    display: flex;
    flex-direction: column;
    align-items: center;
}